# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [46]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [47]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')  
print(users.head(10))

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

In [48]:
users.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

### Step 4. Discover what is the mean age per occupation

In [49]:
mean_age = users.groupby("occupation")["age"].mean()
round(mean_age)

occupation
administrator    39.0
artist           31.0
doctor           44.0
educator         42.0
engineer         36.0
entertainment    29.0
executive        39.0
healthcare       42.0
homemaker        33.0
lawyer           37.0
librarian        40.0
marketing        38.0
none             27.0
other            35.0
programmer       33.0
retired          63.0
salesman         36.0
scientist        36.0
student          22.0
technician       33.0
writer           36.0
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [50]:
count_users  = users.groupby("occupation")['gender'].value_counts()

In [58]:
count_users.sum()

943

In [52]:
male_counts =count_users.loc[:, "M"]

In [53]:
male_counts.sum()

670

In [59]:
male_ratio_per_occupation = male_counts / count_users
male_ratio_per_occupation

occupation     gender
administrator  M          1.000000
               F          1.194444
artist         M          1.000000
               F          1.153846
doctor         M          1.000000
educator       M          1.000000
               F          2.653846
engineer       M          1.000000
               F         32.500000
entertainment  M          1.000000
               F          8.000000
executive      M          1.000000
               F          9.666667
healthcare     F          0.454545
               M          1.000000
homemaker      F          0.166667
               M          1.000000
lawyer         M          1.000000
               F          5.000000
librarian      F          0.758621
               M          1.000000
marketing      M          1.000000
               F          1.600000
none           M          1.000000
               F          1.250000
other          M          1.000000
               F          1.916667
programmer     M          1.000000
               F         10.000000
retired        M          1.000000
               F         13.000000
salesman       M          1.000000
               F          3.000000
scientist      M          1.000000
               F          9.333333
student        M          1.000000
               F          2.266667
technician     M          1.000000
               F         26.000000
writer         M          1.000000
               F          1.368421
Name: count, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

### Step 7. For each combination of occupation and gender, calculate the mean age

### Step 8.  For each occupation present the percentage of women and men